/** Add a comment at the beginning of your CSS styles with your name**/
/* Bob advice styling  */







.bob-style-advice {
	margin: 30px;
	background-color: #FFEAA0;
	width: 800px;

}
.bob-headline h1{
	color: black;
	font-size: 36px;
	font-family: 'Lato', sans-serif;
	margin: 30px;
}


.bob-style-advice p{
	color: black;
	font-family: 'Kalam', cursive;
	font-size: 18px;

}

/**End Bob style **/
